.TopNavBar {
    background-color: #212020;
    overflow: hidden; 
  }
  .TopNavBar li {
    float: left;
  }
  .TopNavBar a {
    display: block;
    color: rgb(206, 201, 201); 
    text-align: center;
    padding: 15px; 
  }
  .TopNavBar a:hover {
    background-color: #555; 
  }
body{
    background-color: rgb(64, 61, 61);
}
h1 {
    text-align: center
}
h1 {
    border-block-style: solid;
    border-width: 100px;
    border-color: rgb(86, 136, 86);
    border-radius: 10px;
}
h1 {
    color: rgb(3, 3, 3); 
    font-weight: 700;
    font-size: 50px;
    font-family:sans-serif
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}
.button {
  position: static;
  position: absolute;
  left: 1570px;
  top: 250px;
}
footer {
    font-size: x-large;
    color: rgb(255, 255, 255);    
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }